body{
    background-color: rgba(242, 242, 242, 0.42);
}
.overview-container{
    position: absolute;
    width: 900px;
    height: 80px;
    margin: 15px;
    border-radius: 5px;
    background-color: #fff;
    top: 50px;
    /* display: none; */
}

.svg-container{
    position: absolute;
    width: 600px;
    height: 500px;
    margin: 15px;
    border-radius: 5px;
    background-color: #fff;
    top: 150px;
}

.table-container{
    position: absolute;
    width: 300px;
    height: 500px;
    margin: 15px;
    border-radius: 5px;
    background-color: #fff;
    top: 150px;
    right: 330px;
}

.btns{
    position: absolute;
    top: 0;
    right: 0;
}


.loop_node{
    stroke: #1d2024;
    stroke-width: 2px;
}

.loop_text{

    font-size: 0.8em;
}

svg{
    /* background-color: #fff; */
}

.table{
    height:500px
}

.function_label{
    fill: #acb0e1;
    font-size: 1.3em;
    font-family: Arial;
}

.view_name{
    fill: #5c5f54;
    font-size: 1.2em;
    font-family: Arial;
    font-weight: bold;
}

#root{
    height: 100vh;
    widows: 100vw;
    position: relative;
}

.links line {
    /* fill: #aaa; */
    /* stroke: #aaa; */
    stroke-width: 1.5px;
  }
  
  .nodes rect {
    pointer-events: all;
    stroke: none;
    stroke-width: 40px;
    /* fill: #d4dbff; */
  }

  #marker{
      stroke: #74776e;
      fill: none;
      stroke-width: 1.5px;
  }


  .nodes .circle {
    pointer-events: all;
    fill: #000;
  }

  #tooltip {
    position: absolute;
    /* width: 100px;
    height: 100px; */
    /* left: 50px; */
    /* bottom: 50px; */
    padding: 10px;
    font: 12px sans-serif;
    background: #fff;
    border: solid 1px;
    border-radius: 8px;
    pointer-events: none;
    text-align: left;
    line-height: 1.5em;
    z-index:999;
}

.link_text{
    font-size: 0.6em;
    z-index:999;
    font-weight: bold;
}

.nodes text{
    font-size: 1em;
    fill: #1d2024;
    z-index: 888;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nodes .text_local{
    font-size: 0.6em;
    fill: #3d3f3a;
    z-index: 777;
    font-family: Arial, Helvetica, sans-serif;

  }

  .overview .inner{
    /* fill: #fff; */
  }

  .overview .outer{
    /* fill: pink; */
    hover:pointer;
  }

  .overview line{
      stroke-linecap: round;
  }

  .inner:hover{
    cursor: pointer;
    /* fill: #064806; */
  }

  .outer:hover{
    cursor: pointer;
    /* fill: #064806; */
  }

  .svg-container h3{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 666;
  }


  
  #item-coat{
    width: 300px;
    height: 900px;
    position: absolute;
    right: 20px;
    top:170px;
    border-radius: 5px;
    background-color: #fff;
  }

  .item-card {
    background-color: #1b6d85;
    width: 90%;
    height: 23px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #fff;
    margin: 2px auto;
    opacity: 1;
    animation: fadeIn 1.5s linear,fadeOut 1.5s linear;
}

@keyframes fadeIn {
    0%,100%{ opacity: 0 }
    50% { opacity: 1 }
}
@keyframes fadeOut {
    0%,100%{ opacity: 1 }
    50% { opacity: 0 }
}

#item-filtered{
    overflow: auto;
    border-bottom: solid 1px #6a6a6a;
}

#item .title {
    padding-left: 12px;
    color: #767575;
}

#item{
  height: 100%;
  /*display: none;*/
}

